<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="''">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="'/client'">
        <mat-icon>people_outline</mat-icon>
        <span>Clients</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Angular demo app</span>
</mat-toolbar>